
  /* (A) 4 COLUMNS PER ROW */
  #cartGrid {
    display: grid;
    grid-template-columns: auto auto auto auto; 
    grid-gap: 1px;
  }
  /* (B) 1 COL ON SMALL SCREENS */
  @media screen and (max-width:768px) {
    #cartGrid { grid-template-columns: auto; }
  }
  /* (C) OPTIONAL FOR THE CELLS */
  .head, .cell { padding: 5px; }
  .head {
    font-weight: bold;
    border: 1px solid lightcyan;
    background: lightcyan;
  }
  .cell {
    border: none;
    border-bottom: 1px solid lightgray;
    background: transparent;
    vertical-align: middle;
  }
