  .main-wrapper {
    height: 200px;
    margin: 10px 10px;
    filter: drop-shadow(-1px 5px 3px #ccc);
  }
  .enterFullscreen{
    height: 100vh;
    width: 100vw;
    margin: 10px 10px;
    filter: drop-shadow(-1px 5px 3px #ccc);
  }
  .info-wrapper {
    margin-top: 15px;
  }
  .map-details {
    text-align: center;
    font-size: 1.2em;
  }
  .map-details span {
    font-size: small;
    font-weight: bold;
  }
  .search-input {
    font-size: 1.2em;
    width: 75%;    
    border-radius: 5px;     
    border-style: solid;
    border-left-color: transparent;
    border-right-color: transparent;
    border-top-color: transparent;
    border-bottom-color: royalblue;
  }

  .gm-fullscreen-control {
    display: none;
    }
  